<p>
    First: @First <br/>
    Second: @Second <br/>
    Third: @Third <br/>
</p>

@code {

    [Parameter]
    public string First { get; set; } = string.Empty;

    [Parameter]
    public string Second { get; set; } = string.Empty;

    [Parameter]
    public string Third { get; set; } = string.Empty;

}